# Entorno virtual de Python
venv/
env/
.venv/

# Base de datos (se genera con seed.py)
*.db
*.sqlite3

# Cache de Python
__pycache__/
*.py[cod]
*.pyo

# Variables de entorno
.env
.env.local

# IDE
.vscode/
.idea/
